* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

/* Header Section Starts */

.left > div:nth-child(2) {
    margin-top: 10px;
    background-color: transparent;
}

.navigationTop {
    background-color: rgb(255, 255, 255);
}

.right .MBprimeOption, .right .loginOption {
    margin-top: 0.57rem;
}

.right div > #primeBtn::after, .right div > #loginBtn::after{
    color: rgb(244, 74, 93);
}

.right .postProp {
    background-color: #ffc72c;
}

.right .postProp span {
    background-color: white;
}

.navigationBottom {
    border: none;
}

.right > div:hover:not(.right .postProp) {
    border: solid 1px #d7d7d7;
    border-bottom: none;
}
/* Header section Ends */

/* Filter Section Starts */
.filterSection {
    position: fixed;
    z-index: 1;
    top: 48px;
    display: flex;
    height: auto;
    padding: 15px 20px;
    width: 100vw;
    background-color: rgb(244, 74, 93);
    border-bottom: solid 10px black;
    margin-bottom: 50px;
}

.filterContainer, .propertyType {
    display: flex;
    flex-direction: row;
}

.filterContainer div {
    margin: 0 10px;
}

.propertyType, .filterOption {
    background-color: white;
    border-radius: 4px;
}

.propertyType div {
    padding: 3px 5px;
    margin: 8px 0;
}

.propertyType div:first-child {
    padding-left: 20px;
    padding-right: 10px;
    border-right: solid 1px black;
}

.filterSection .propertyType div:first-child::after{
    content: '\f107';
    padding-left: 15px;
    font-family: "FontAwesome";
}

.propertyType div:nth-child(2) {
    padding-left: 15px;
    padding-right: 10px;
}

.propertyType div:last-child input {
    outline: none;
    border: none;
    width: 100px;
}

.filterOption {
    width: auto;
    padding: 0;
    height: auto;
}

.filterOption div {
    padding: 3px 10px;
    margin: 8px 0;
}

.filterSection .filterOption div::after {
    content: '\f107';
    padding-left: 7px;
    font-family: "FontAwesome";
}
/* Filter Section Ends */

.porpListCont {
    padding-top: 30px;
    background-color: rgba(200, 192, 194, 0.16);
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

/* Tab section Starts */
.tabSection {margin-top: 130px;
    margin-left: 20px;
    width: 76vw;
}

.tabSection button {
    font-size: 22px;
    padding: 5px 15px;
    border: 1px solid #d7d7d7;
    margin-right: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: solid 3px rgb(244, 74, 93);
}

.tabSection button:hover {
    border: solid 1px rgb(5, 3, 3);
    border-bottom: solid 3px rgb(244, 74, 93);
    background-color: #000;
    color: #fff;
}

.tabSection button:focus {
    outline: none;
    border: solid 1px rgb(5, 3, 3);
    background-color: #000;
    color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
/* Tab Section Ends */

/* CARD Section Starts */
.cardSection {
    margin-top: 20px;
    margin-left: 20px;
    width: 76vw;
}

.cardSection .cardContainer {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 24%), 0 1px 4px 0 rgb(0 0 0 / 12%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: white;
}

.leftBlock {
    padding: 18px;
    padding-bottom: 10px;
    width: 250px;
    height: auto;
}

.imageBlock {
    position: relative;
    border-radius: 10px;
    background-image: url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
    background-size: 300px 130px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 130px;
}

.imageBlock p {
    margin: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 101px;
    text-align: center;
    color: white;
}

.leftBlock .authority {
    margin: 0;
    margin-top: 10px;
    margin-left: 5px;
}

.detailsBlock {
    width: 54%;
    height: auto;
    padding-top: 18px;
    position: relative;
}

.detailsBlock .availabilitySec .availability {
    border: solid 1px rgb(0, 150, 129);
    color: rgb(0, 150, 129);
    width: 135px;
    height: 19px;
    line-height: 1.7;
    font-size: 10px;
    padding: 0;
    text-align: center;
    border-radius: 15px;
}

.detailsBlock p:nth-child(2) {
    /* border: solid 1px black; */
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 5px;
    width: 80%;
}

.detailsBlock p:nth-child(3) {
    margin-top: 2px;
    text-decoration: underline;
    font-size: 13px;
    color: #686868;
}

.detailsBlock .favIconCont {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 21px;
    font-weight: 100px;
}


.detailsBlock .favIconCont > span {
    margin-right: 27px;
    padding: 2px 11px;
    color: #7a7a7a;
}

.detailsBlock .favIconCont > span:hover {
    color: rgb(244, 74, 93);
}

.detailsBlock .favIconCont > div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0px;
    width: 25px;
    height: 33px;
}


.detailsBlock .favIconCont > div:hover {
    background-color: rgba(208, 206, 206, 0.281);
    border-radius: 5px;
}

.detailsBlock .favIconCont > div span.ellipsisV + .sharebtn {
    display: none;
    position: absolute;
    top: 33px;
    left: -133px;
    width: 160px;
    padding: 11px 10px;
    text-align: left;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 10%), 0 2px 8px 0 rgb(0 0 0 / 12%);
}


.detailsBlock .favIconCont > div span.ellipsisV + .sharebtn > i {
    color: rgb(198, 194, 194);
}

.detailsBlock .favIconCont > div:hover span.ellipsisV + .sharebtn {
    display: block;
}

.flatDetail {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    height: auto;    
    display: flex;
    justify-content: space-between;
    /* border: solid 1px black; */
    background-color: rgb(243 241 241);
}

.flatDetail .detailDisplay {
    width: 94%;
    height: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.flatDetail .detailDisplay .rowOne,
.flatDetail .detailDisplay .rowTwo 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 7px 0;
}

.flatDetail .detailDisplay .rowOne > div,
.flatDetail .detailDisplay .rowTwo > div 
{
    width: 250px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.flatDetail .detailDisplay .rowOne {
    border-top-left-radius: 8px;
}

.flatDetail .detailDisplay .rowTwo  {
    border-bottom-left-radius: 8px;
    display: none;
}

.flatDetail .detailDisplay .rowOne > div p,
.flatDetail .detailDisplay .rowTwo > div p
{
    font-size: 11px;
    font-weight: 300px;
}

.flatDetail .detailDisplay .rowOne > div h6,
.flatDetail .detailDisplay .rowTwo > div h6
{
    font-size: 12px
}

.flatDetail .detailDisplay .rowOne > div > div,
.flatDetail .detailDisplay .rowTwo > div > div
{
    padding-top: 5px;
    padding-left: 50px;
}

.flatDetail .detailDisplay .rowOne > div > div::before,
.flatDetail .detailDisplay .rowTwo > div > div::before 
{
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 15px;
    width: 32px;
    height: 32px;
    background-image: url(../myImage/iconspirit.svg);
    background-repeat: no-repeat;
}

.flatDetail .detailDisplay .rowOne .midCont,
.flatDetail .detailDisplay .rowTwo .midCont {
    border-left: solid 1px rgb(179, 181, 179);
    border-right: solid 1px rgb(179, 181, 179);
}

.flatDetail .detailDisplay .rowOne .leftCont > div::before {
    background-position: -19px -137px;    
}

.flatDetail .detailDisplay .rowOne .midCont > div::before {
    background-position: -16px -1764px;  
}

.flatDetail .detailDisplay .rowOne .rightCont > div::before {
    background-position: -16px -588px;  
}

.flatDetail .detailDisplay .rowTwo .leftCont > div::before {
    background-position: -17px -1927px;  
}

.flatDetail .detailDisplay .rowTwo .midCont > div::before {
    background-position: -16px -974px;  
}

.flatDetail .detailDisplay .rowTwo .rightCont > div::before {
    background-position: -16px -1029px;     
}

.flatDetail .disaplyBtnCont {
    width: 4.5%;
    height: auto;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flatDetail .disaplyBtnCont > button {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
}

.detailsBlock .porpDescription > div:first-child .propFacing {
    font-size: 13px;
    padding-bottom: 7px;
    margin-right: 15px;
}

.detailsBlock .porpDescription > div:first-child .propFacing::before {
    content: "";
    display: inline-block;
    height: 17px;
    width: 17px;
    background-image: url("../myImage/iconspirit2.svg");
    background-position: -24px -254px;
    position: relative;
    top: 2px;
    margin-right: 3px;
} 

.detailsBlock .porpDescription .desc {
    width: 90%;
    padding-bottom: 18px;
    display: flex;
}

.detailsBlock .porpDescription .desc p {
    font-size: 13px;
    width: 99%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.detailsBlock .porpDescription .desc p > button {
    border: none;
    background-color: transparent;
    margin-left: -30px;
    text-decoration: underline;
}

.detailsBlock .porpDescription .desc p > button:hover {
    text-decoration: underline;
}

.detailsBlock .porpDescription .desc span {
    margin-left: -7px;
}

.detailsBlock .porpDescription .desc span:hover {
    cursor: pointer;
}

.detailsBlock .porpDescription .desc span::after {
    content: '\f107';
    padding-left: 7px;
    font-family: "FontAwesome";
}


.actionBlock {
    text-align: center;
    margin-left: 10px;
    padding: 25px 20px 25px 20px;
    width: 211px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(243 241 241);
}

.actionBlock .porpValue {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.actionBlock .propArea {
    line-height: 18px;
    font-size: 13px;
    margin-bottom: 20px;
}

.actionBlock > div:first-child, 
.actionBlock .btnCont > div:first-child 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actionBlock .btnCont > div:first-child button {
    margin-bottom: 15px;
    padding-bottom: 4px;
    padding: 0;
    width: 160px;
    height: 35px;
    border-radius: 20px;
    display: block;
    border: solid 1px rgb(244, 74, 93);
}

.actionBlock .btnCont > div:first-child button:focus {
    outline: none;    
    color: black;
}

.actionBlock .btnCont > div:first-child button:hover {
    border: solid 1px rgb(244, 74, 93);
    background-color:  rgb(161, 2, 20);
    color: white;
}

.actionBlock .ownerDetail {
    color: white;
    background-color: rgb(244, 74, 93);
}

.actionBlock .feedback {
    font-size: 13px;
    text-decoration: underline;
}

.actionBlock .btnCont .modal-content {
    width: 390px;
    height: 85vh;
}

.actionBlock .btnCont .modal-content .modalHeader {
    position: relative;
}

.actionBlock .btnCont .modal-content .modalHeader > button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.actionBlock .btnCont .modal-content .modalHeader .headerText {
    padding: 40px 40px 0px 40px;
    text-align: left;
}

.actionBlock .btnCont .modal-content .modalHeader .headerText h4 {
    font-size: 25px;
    font-weight: 400;
}

.actionBlock .btnCont .modalBody {
    padding: 0 0 20px 0;
}

.actionBlock .btnCont .modalBody .contact {
    position: relative;
    margin-top: 60px;
}

.actionBlock .btnCont .contact input {
    width: 85%;
    padding-bottom: 2px;
    height: auto;
    border: none;
    border-bottom: solid 1px #d7d7d7;
    font-size: 16px;
}

.actionBlock .btnCont .contact label {
    position: absolute;
    left: 30px;
    bottom: 0;
    border: none;
    font-size: 16px;
    height: auto;
    color: #878787;
    transition: .3s ease-in-out;
}
.actionBlock .btnCont .contact input:focus {
    outline: none;
}
.actionBlock .btnCont .contact input:focus + label {
    font-size: 13px;
    bottom: 27px;
}

.actionBlock .btnCont .modalFooter > div {
    margin-bottom: 40px;
    padding: 0 40px;
}

.actionBlock .btnCont .modalFooter > div > p {
    text-align: left;
    margin-top: 25px;
    font-size: 14px;
}
.actionBlock .btnCont .modalFooter > div > p a {
    text-decoration: underline;
}

.actionBlock .btnCont .modalFooter > div > button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(244, 74, 93);
    color: white;
}


/* CARD Section Ends */


/* Best Place Section Starts */
.bestPlaceSection {
    width: 77.5vw;
    padding-left: 20px;    
    margin-top: 70px;
}

.bestPlaceSection > h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.bestPlaceSection > h3::after {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #2c84ff;
    border-radius: 2px;
}

.bestPlacesCont {
    background-color: #fff;
    padding: 20px 25px;
    border: solid 1px #d7d7d7;
    border-radius: 8px;
}

.nOPlaces > h4 {
    margin-top: 30px;
}

.nOPlaces > p {
    line-height: 21px;
}

.nOFlats {
    display: flex;
}

.nOFlats div {
    width: 290px;
    height: 130px;
    padding: 20px;
    border: solid 1px #d7d7d7;
    border-radius: 8px;
    margin-right: 18px;
}

.nOFlats div h4{
    font-size: 16px
}

.nOFlats div p {
    font-size: 14px;
}

.nOFlats div h4:last-child {
    margin-top: 10px;
    color: rgb(244, 74, 93);
}

/* Best Place Section Ends */

/* Best  Project Section Starts*/
.bestProjectSection {
    width: 77.5vw;
    margin-top: 40px;
    padding-left: 20px;
}

.bestProjectSection h3{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.bestProjectSection > h3::after {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #a702bd;
    border-radius: 2px;
}

.porpCardCont {
    display: flex;
}

.bestProjectSection > p {
    margin-top: 10px;
    text-align: center;
    color: #000;
    text-decoration: underline;
}

.propCard {
    width: 232px;
    height: 280px;
    padding: 20px;
    border: solid 1px #d7d7d7;
    border-top: solid 3px rgb(244, 74, 93);
    border-radius: 10px;
    margin-right: 14px;
}

.propCard p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #303030;
}

.propCard h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
}

.propCard h4 {
    margin-top: 16px;
    margin-bottom: 0;
}

.propCard .rToM {
    margin-top: 20px;
    margin-bottom: 5px;
}

.propCard h5 {
    font-size: 15px;
    font-weight: 600;
    color: rgb(244, 74, 93);
    margin-top: 7px;
}
/* Best  Project Section Ends*/


/* Flat Prices Section Starts */
.flatPriceSection {
    width: 77.5vw;
    margin-top: 40px;
    padding-left: 20px;
}

.flatPriceSection > h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.flatPriceSection > h3::after {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #06d5fa;
    border-radius: 2px;
}

.flatPriceSection table {
    border-radius: 10px;
    box-shadow: 0 0 0 1px #d7d7d7;
}

.flatPriceSection table tbody tr {
    border-top: solid 1px #d7d7d7;
}

.flatPriceSection table thead tr th {
    color: #000;
    font-size: 17px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.flatPriceSection table thead tr th:first-child {
    padding-left: 70px;
}

.flatPriceSection table tbody tr td {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flatPriceSection table tbody tr td:first-child {
    padding-left: 70px;
}

.flatPriceSection > p {
    margin-top: 10px;
    font-size: 14px;
}

/* Flat Prices Section Ends */

/* About Place Section Starts */
.aboutPlaceSection {
    width: 77.5vw;
    margin-top: 40px;
    padding-left: 20px;
}

.aboutPlaceSection h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.aboutPlaceSection > h3::after {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #1c9b22;
    border-radius: 2px;
}

.aboutPlaceSection > div {
    background-color: #fff;
    padding: 20px 25px;
    border: solid 1px #d7d7d7;
    border-radius: 8px;
}

.aboutPlaceSection > div .intro {
    width: 98%;
    height: 100px;
    overflow: hidden;
}

.aboutPlaceSection .placeDetails {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.aboutPlaceSection .placeDetails .leftHalf {
    width: 50%;
    margin-right: 20px;
}

.aboutPlaceSection .placeDetails .leftHalf > div{
    display: flex;
    border-bottom: solid 1px #d7d7d7;
    padding-top: 7px;
}

.aboutPlaceSection .placeDetails .leftHalf > div p {
    width: 40%;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.aboutPlaceSection .placeDetails .leftHalf > div h4 {
    width: 60%;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}

.aboutPlaceSection .leftHalf > div p:hover, .aboutPlaceSection .leftHalf > div h4:hover {
    overflow: visible;
}

.aboutPlaceSection .placeDetails .rightHalf {
    border-radius: 10px;
    width: 45%;
    height: 100%;
}

.aboutPlaceSection .placeDetails .rightHalf img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.aboutPlaceSection > p {
    margin-top: 10px;
    font-size: 14px;
}
/* About Place Section Ends */

/* Place Real Estate Market Section Starts */
.marketPlaceSection {
    width: 77.5vw;
    margin-top: 40px;
    padding-left: 20px;
}

.marketPlaceSection h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.marketPlaceSection > h3::after {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #fc6100;
    border-radius: 2px;
}

.marketPlaceSection .marketPlaceCont {
    background-color: #fff;
    padding: 20px 25px;
    border: solid 1px #d7d7d7;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.marketPlaceSection .marketPlaceCont .placeIntro {
    width: 48%;
    height: 308px;
    margin-right: 20px;
    overflow: hidden;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
}

.marketPlaceSection .marketPlaceCont .placeImage {
    width: 48%;
    height: 308px;
}

.marketPlaceSection .marketPlaceCont .placeImage img {  
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.marketPlaceSection > p {
    margin-top: 10px;
    font-size: 14px;
}
/* Place Real Estate Market Section Ends */


/* ADVERTISMENT BLOCK Starts  */
.advertBlock {
    width: 22vw;
    margin: 200px 20px;
}

.advertBlock div{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.384);
}

.advertBlock div h2{
    color: #666;
}

.advertBlock div:nth-child(1), 
.advertBlock div:nth-child(3), 
.advertBlock div:nth-child(10), 
.advertBlock div:nth-child(12) 
{
    width: 100%;
    height: 200px;
}

.advertBlock div:nth-child(4), 
.advertBlock div:nth-child(6), 
.advertBlock div:nth-child(8) 
{
    width: 100%;
    height: 300px;
}

.advertBlock div:nth-child(5), 
.advertBlock div:nth-child(11), 
.advertBlock div:nth-child(9) 
{
    width: 100%;
    height: 550px;
}

.advertBlock div:nth-child(2), 
.advertBlock div:nth-child(7)
{
    width: 100%;
    height: 700px;
}
/* ADVERTISMENT BLOCK Ends  */

