
footer {
    width: 100%;
}

h4 {
    font-size: 20px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 15px;
}

footer .footerTop {
    border-top: solid 1px rgb(197, 197, 197);
    box-shadow: 1px -3px 5px rgb(197, 197, 197);
    margin-bottom: 15px;
    padding-top: 40px;
}

.contactus {
    margin-top: 30px;
}

.contactus ul  {
    padding-left: 0;
}

.contactus ul > li {
    display: flex;
    padding: 5px 0;
}

.contactus ul > li:first-child span{
    padding-right: 17px;
}

.contactus ul > li > p {
    margin-left: 10px;
}

footer .footerTop .footerNav h4::after, 
footer .footerTop .footerTwitFeed h4::after,
footer .footerTop .footerNewsLetter h4::after {
    display: block;
    content: " "; 
    width: 50px;
    height: 3px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem; 
    font-weight: bold;
    background-color: #FF385C;
}

footer .footerTop .footerNav .listCont ul li {
    padding: 10px 0;
}

footer .footerTop .footerNav .listCont ul li a {
    padding: 10px 0;
    border-bottom: 1px dotted black;
}

footer .footerTop .footerTwitFeed .textCont .text {
    display: flex;
    padding-bottom: 20px;
}

footer .footerTop .footerTwitFeed .textCont .text h6 {
    font-size: 16px;
}

footer .footerTop .footerTwitFeed .textCont .text div {
    margin-left: 15px;
}

footer .footerTop .footerNewsLetter input {
    height: 48px;
    width: 255px;
    margin-bottom: 15px;
}

footer .footerTop .footerNewsLetter input:focus {
    outline: none;
}

footer .footerTop .footerNewsLetter input:first-child {
    background-color: #282d32;
    padding-bottom: 4px;
    padding-left: 15px;
    color: white;
}

footer .footerTop .footerNewsLetter input:first-child::placeholder {
    color: white;
}

footer .footerTop .footerNewsLetter input:last-child {
    background-color: #293046;
    border: none;
}


footer .footerBottom {
    background-color: #282d32;
}

footer .footerBottom .footBottCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footerBottom p {
    color: white;
}

footer .footerBottom .netsocials {
    display: flex;
    margin-top: 15px;
}

footer .footerBottom .netsocials li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 15px;
}

footer .footerBottom .netsocials .facebook {
    background-color: #3b5998;
}

footer .footerBottom .netsocials .twitter {
    background-color: #1da1f2;
}

footer .footerBottom .netsocials .instagram {
    background-color: #E1306C;
}

footer .footerBottom .netsocials .youtube {
    background-color: #cd201f;
}

footer .footerBottom .netsocials li a {
    color: white;
}




